
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;

    
}

nav{
    height: 90px;
    background-color: rgba(255, 255, 255,0.93);
    width: 100%;
    padding: 15px 15px 15px 15px;


    box-shadow: 0 0 10px rgba(20, 20, 20,0.2);

    display: flex;
    justify-content: space-between;

    position: sticky;
    top: 0px;
    z-index: 1;

}

.navContainer{
    height: 100%;
    width: 100%;
    display: flex;
}

.navContainer img{
    margin-right: 20px;
    margin-left: 10px;
}

nav p{
    height: 100%;
    width: 60px;
}

nav .navFirst{
    margin-top: 15px;
    margin-left: 20px;
    list-style: none;
    display: flex;
}
nav .navFirst li{
    display: inline-block;

    font-size: 19px;
    font-weight: 550;
    /* font-family: "Montserrat"; */
    cursor: pointer;

    margin-right: 30px;

    position: relative;
}

nav .navFirst li a{
    /* font-family: "Montserrat"; */
    font-family: inherit;
    text-decoration: none;

    /* color: rgb(34, 39, 46); */
    color: rgb(55, 62, 71);
}

nav .navFirst li::after{
    content: '';
    width: 0px;
    height: 2px;

    /* background-color: rgb(34, 39, 46); */
    background-color: rgb(55, 62, 71);

    position: absolute;
    bottom: 17px;
    left: 0px;

    transition: 0.25s;
}
nav .navFirst li:hover::after{
    width: 100%;
}

nav .navSec{
    margin-top: 15px;
    margin-left: 20px;
    list-style: none;
    display: flex;
}
nav .navSec li{
    display: inline-block;

    /* color: rgb(34, 39, 46); */
    color: rgb(55, 62, 71);

    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    padding: 2px;

    margin-right: 20px;

    transition: 0.2s;
}
nav .navSec li a{
    text-decoration: none;

    color: rgb(34, 39, 46);
}

nav .navSec li:hover{
    scale: 1.1;
}





.menuTopImgContainer{
    width: 100%;
    height: 620px;
    /* padding: 40px 20px 20px 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 40px; */
    
}
.menuTopImgContainer div{
    height: 100%;
    /* width: 96%;  */
    width: 100%;

    /* border-radius: 40px; */
    overflow: hidden;
    /* box-shadow: 0 0 10px rgba(20, 20, 20,0.3); */
    position: relative;
}
.menuTopImgContainer img{
    height: 100%;
    width: 100%;

}
.menuTopImgContainer h2{
    font-size: 105px;
    font-weight: 700;
    color: white;
    /* font-family: "isaco - Monarcha"; */
    font-family: 'Montserrat';

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


.itemsouterContainer{
    width: 100%;
    height: auto;
    padding: 90px 130px 130px 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.itemsouterContainer .itemsinnerCountainer{
    width: 100%;
    height: auto;
}

.itemsinnerCountainer .itemsLittelContainer{
    width: 100%;
    height: auto;

    margin-bottom: 60px;
    display: flex;
    justify-content: space-evenly;
}

.itemsLittelContainer .items{
    width: 290px;
    height: 290px;


    display: flex;
    flex-direction: column;

    text-align: left;
    cursor: pointer;
}

.itemsLittelContainer .items h3{
    font-size: 23px;
    font-weight: 600;
    color: rgba(18, 18, 18, 0.85);
    font-family: "Montserrat";
    margin-left: 10px;
}

.itemsLittelContainer .items div{
    width: 100%;
    height: 85%;
    
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(20, 20, 20,0.3);

    margin-bottom: 10px;
    overflow: hidden;
}
.itemsLittelContainer .items img{
    width: 100%;
    height: 100%;
    
    border-radius: 25px;

    transition: 0.4s;
}
.itemsLittelContainer .items:hover img{
    transform: scale(1.07);
}



/*   footer  */
.footerContainer{
    padding: 85px 75px 75px 75px ;
    display: flex;
    justify-content: space-between;
}

.footerDivHeadings{
    font-size: 18px;
    font-weight: 600;
    font-family: Nunito Sans, sans-serif;

    margin-bottom: 15px;
}

.footerDivDetail{
    font: 16px;
    font-weight: 500;
    color: rgba(18, 18, 18, 0.75);
    font-family: Nunito Sans, sans-serif;

    line-height: 35px;

    margin-bottom: 15px;
}

.socialMedia{
    list-style: none;
    margin-top: 10px;
    display: flex;
}
.socialMedia .socialIcon{
    height: 40px;
    width: 40px;
    border-radius: 12px;
    margin-right: 10px;
}
.socialMedia .socialIcon a{
    font-size: 25px;
    color: rgba(18, 18, 18, 0.75);
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
}

.quickLinksDiv{
    list-style: none;
}
.quickLinksDiv li{
    color: rgba(18, 18, 18, 0.75);
    font: 14px;
    font-weight: 500;
    font-family: Nunito Sans, sans-serif;
    line-height: 30px;
}
.quickLinksDiv li a{
    text-decoration: none;
    
    color: rgba(18, 18, 18, 0.75);
    cursor: pointer;
}

.newsLetterContainer .inputcont{
    height: auto;
    width: 100%;
    margin-bottom: 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}
.inputcont::after{
    content: '';
    height: 2px;
    width: 100%;
    background-color: black;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.newsLetterContainer input{
    background-color: transparent;
    width: 80%;
    padding: 6px 10px;
    font-size: 18px;
    font-weight: 400;
    font-family: Nunito Sans, sans-serif;
    border: none;
    outline: none;
}
.newsLetterContainer input::placeholder{
    color: black;
    font-family: Nunito Sans, sans-serif;
}

.newsLetterContainer button{
    outline: none;
    border: none;
    width: 10%;
    background-color: transparent;
    cursor: pointer;
}
.newsLetterContainer button i{
    color: rgba(18, 18, 18, 0.75);
    font-size: 26px;
}























































